@import 'tailwindcss';

@theme inline {
	--font-hubot: 'Hubot Sans', sans-serif;
	--font-montserrat: 'Montserrat';
	--font-caprasimo: 'Caprasimo';
	--font-unbounded: 'Unbounded', sans-serif;
	--font-quicksand: 'Quicksand';
	--font-handjet: 'Handjet';
	--font-poppins: 'Poppins', sans-serif;
	--font-inter: 'Inter';
	--font-roboto: 'Roboto Flex', sans-serif;
	--font-georama: 'Georama', sans-serif;
	--font-zalando: 'Zalando Sans', sans-serif;
	--font-urbanist: 'Urbanist', sans-serif;

	--color-spotify-green: #1ed760;
	--color-spotify-black: #121212;
}

.image-gallery-bullets::-webkit-scrollbar {
	display: none;
}

.image-gallery-bullets {
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px 12px;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.image-gallery-bullet {
	flex: 0 0 auto;
}
