@import 'tailwindcss';

@theme inline {
	--font-hubot: 'Hubot Sans';
	--font-montserrat: 'Montserrat';
	--font-caprasimo: 'Caprasimo';
	--font-unbounded: 'Unbounded';
	--font-quicksand: 'Quicksand';
	--font-handjet: 'Handjet';
	--font-poppins: 'Poppins';
	--font-inter: 'Inter';
	--font-roboto: 'Roboto Flex';
	--font-georama: 'Georama', sans-serif;
	--font-zalando: 'Zalando Sans', sans-serif;
	--font-urbanist: 'Urbanist', sans-serif;
}
